.navbar {
  background-color: #000;
}

.ftco-navbar-light .navbar-brand {
  color: #fff;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.module.local_nav_bar {
  padding: 50px;
  background-color: #000;
}

.local-nav-logo {
  font-family: "Star Wars", sans-serif;
  width: 60vh;
  text-align: center;
  margin: auto;
  font-size: 3rem;
  color: white;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
  font-size: 16px;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  font-weight: 400;
  opacity: 1 !important;
}

.nav-item::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #fff;
  box-shadow: 0px 0px 4px 1px #fade4b;
  transition: all 0.25s;
}

.nav-item:hover::after {
  box-sizing: border-box;
  width: 100%;
}

.ftco_navbar .navbar-nav .active > .nav-link,
.ftco_navbar .navbar-nav .nav-link.active,
.ftco_navbar .navbar-nav .nav-link.show,
.ftco_navbar .navbar-nav .show > .nav-link,
.ftco_navbar .navbar-nav .nav-link:focus,
.ftco_navbar .navbar-nav .nav-link:hover {
  color: #fff;
}

.nav-link {
  padding: 25px 5px;
  transition: 0.2s;
}

.navbar-nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: auto;
}
